<!DOCTYPE html>
<html>
  <head>
    <title>Mkubwa Ferra</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <style>
    #banner{
     height: 360px;
     width: 100%;
     object-fit: cover;
    }
  </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4" >Mkubwa Ferra Careers</h1>
      <img class="img-fluid" id= "banner" src = "https://361ec65a-6986-4aa0-be55-a27c74501d6f-00-3qux5545ftmea.worf.replit.dev/static/Banner.jpg" height="320px" >
      <h2 class="text-center mt-2 mb-4">About FC Olgumi</h2> 
      <p class="lead">
        Tembo Football Team is a professional football club based in Tanzania, known for its competitive spirit and   passionate fan base. The team has made significant strides in local and regional tournaments, showcasing a blend of skilled players and dedicated coaching staff. With a commitment to developing young talent and promoting the sport in the community, Tembo aims to establish itself as a formidable force in Tanzanian football. The team's colors and emblem       reflect its rich heritage and ambition to achieve success on and off the pitch.
      </p>
  
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}
        {% include 'jobs.html' %}
        {% endfor %}
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary btn-lg"">Contact Us</button>
      <p class="mt-4">Copyright 2025, Mkubwa Ferra</p>
    </div>
  </body>
</html>